# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.env

# Model files
*.pkl

# Jupyter Notebooks
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated plots
*.png